// Colors //
$brandPurple: #b949f5!important;
$brandGreen: #4EB877;
$brandLight: #fdcdb3;

$backdrop1: #C2B7F3;
$backdrop2: #B0CBF1;
$backdrop3: #A8EEED;

// Fonts //
$font1: 'Shadows Into Light', cursive;
$font2: 'Lato', sans-serif;

// Tooling //
$testBorder1: 5px solid #59E259;
$testBorder2: 5px solid red;

